
@font-face {
    font-family: "GenJyuu";
    src:
        url("./GenJyuu.ttf") format("truetype");
}

body {
    background: white;
    --largeur: calc(90vw);
    --hauteur: calc(var(--largeur)/7);
    --testHauteur: calc(   (var(--hauteur) * 4) + 30px + 153px);
    margin: 0;
}

#container {
    position: absolute;
    left: 5vw;
    top: calc( (100% - var(--testHauteur)) / 2);
    width: var(--largeur);
    text-align: center;
}


#puzzle {
    text-align: left;
    margin-bottom: 15px;
    text-align: center;
    background: blue;
}

#puzzle > div {
    display: inline-block;
    width: calc( 3*var(--hauteur) + 7*(var(--hauteur)/2));
    text-align: left;
}

#puzzle > div > img {
    height: var(--hauteur) !important;
}

button.buttonsAnsw {
    width: calc((var(--largeur) - 45px ) / 4);
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    font-size: 50px;
    line-height: 75px;
    vertical-align: top;
    font-family: "GenJyuu";
    cursor: pointer;
}

button.buttonsAnsw + button.buttonsAnsw {
    margin-left: 11px;
}

button.buttonsAnsw:nth-child(5) {
    width: calc((var(--largeur) - ( (15px + 2px) * 3 ) ) / 4);
}

button.buttonsAnsw > img {
    vertical-align: top;
}

button.finish {
    width: calc((var(--largeur) - 72px - 15px ));
    height: 72px;
    font-size: 50px;
    vertical-align: top;
    margin-top: 15px;
    margin-right: 11px;
}

button.reload {
    margin-top: 15px;
    width: 72px;
    height: 72px;
    font-size: 50px;
    vertical-align: top;
}

.correct {
    background: lightgreen;
    border-color: darkgreen;
}

.incorrect {
    background: lightcoral;
    border-color: darkred;
}


/*
#puzzle > div:nth-child(4) {
    box-shadow: 0 26px 1px -25px var(--borderColor);
}

#puzzle > div:last-child {
    width: calc(1000px - 25px);
    padding: 0 calc(25px / 2);
    box-shadow: 0 -26px 1px -25px var(--borderColor);
}
*/

#answer {
    background: red;
    width: 1000px;
    position: absolute;
    left: calc( (100% - 1000px) / 2 );
    top: 790px;
}

#answer > div {
    background: white;
    width: 700px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#answer > div > .smallDivider {
    display: inline-block;
    margin: 0 10px;
}