
@font-face {
    font-family: "GenJyuu";
    src:
        url("./GenJyuu.ttf") format("truetype");
}

*{
    touch-action: manipulation;
}

body {
    background: white;
    --largeur: calc(90vw);
    --hauteur: calc(var(--largeur)/7);
    --testHauteur: calc(   (var(--hauteur) * 4) + 30px + 72px + ((var(--largeur) - 45px ) / 4));
    margin: 0;
}

#container {
    position: absolute;
    left: 5vw;
    top: calc( (100% - var(--testHauteur)) / 2);
    width: var(--largeur);
    text-align: center;
}


#puzzle {
    text-align: left;
    margin-bottom: calc( var(--hauteur) / 10 );
    text-align: center;
}

#puzzle > div {
    display: inline-block;
    width: calc( 3*var(--hauteur) + 7*(var(--hauteur)/2));
    text-align: left;
}

#puzzle > div > div {
    display: table-cell;
}

.watermelon_1 { background-position-x: calc(0px - var(--hauteur)*0); background-position-y: calc(0px - var(--hauteur)*0); }
.watermelon_2 { background-position-x: calc(0px - var(--hauteur)*1); background-position-y: calc(0px - var(--hauteur)*0); }
.watermelon_3 { background-position-x: calc(0px - var(--hauteur)*2); background-position-y: calc(0px - var(--hauteur)*0); }

.strawberry_1 { background-position-x: calc(0px - var(--hauteur)*0); background-position-y: calc(0px - var(--hauteur)*1); }
.strawberry_2 { background-position-x: calc(0px - var(--hauteur)*1); background-position-y: calc(0px - var(--hauteur)*1); }
.strawberry_3 { background-position-x: calc(0px - var(--hauteur)*2); background-position-y: calc(0px - var(--hauteur)*1); }

.banana_1 { background-position-x: calc(0px - var(--hauteur)*0); background-position-y: calc(0px - var(--hauteur)*2); }
.banana_2 { background-position-x: calc(0px - var(--hauteur)*1); background-position-y: calc(0px - var(--hauteur)*2); }
.banana_3 { background-position-x: calc(0px - var(--hauteur)*2); background-position-y: calc(0px - var(--hauteur)*2); }

.apple_1 { background-position-x: calc(0px - var(--hauteur)*0); background-position-y: calc(0px - var(--hauteur)*3); }
.apple_2 { background-position-x: calc(0px - var(--hauteur)*1); background-position-y: calc(0px - var(--hauteur)*3); }
.apple_3 { background-position-x: calc(0px - var(--hauteur)*2); background-position-y: calc(0px - var(--hauteur)*3); }

.lemon_1 { background-position-x: calc(0px - var(--hauteur)*0); background-position-y: calc(0px - var(--hauteur)*4); }
.lemon_2 { background-position-x: calc(0px - var(--hauteur)*1); background-position-y: calc(0px - var(--hauteur)*4); }
.lemon_3 { background-position-x: calc(0px - var(--hauteur)*2); background-position-y: calc(0px - var(--hauteur)*4); }

.orange_1 { background-position-x: calc(0px - var(--hauteur)*0); background-position-y: calc(0px - var(--hauteur)*5); }
.orange_2 { background-position-x: calc(0px - var(--hauteur)*1); background-position-y: calc(0px - var(--hauteur)*5); }
.orange_3 { background-position-x: calc(0px - var(--hauteur)*2); background-position-y: calc(0px - var(--hauteur)*5); }

.grape_1 { background-position-x: calc(0px - var(--hauteur)*0); background-position-y: calc(0px - var(--hauteur)*6); }
.grape_2 { background-position-x: calc(0px - var(--hauteur)*1); background-position-y: calc(0px - var(--hauteur)*6); }
.grape_3 { background-position-x: calc(0px - var(--hauteur)*2); background-position-y: calc(0px - var(--hauteur)*6); }

.kiwi_1 { background-position-x: calc(0px - var(--hauteur)*0); background-position-y: calc(0px - var(--hauteur)*7); }
.kiwi_2 { background-position-x: calc(0px - var(--hauteur)*1); background-position-y: calc(0px - var(--hauteur)*7); }
.kiwi_3 { background-position-x: calc(0px - var(--hauteur)*2); background-position-y: calc(0px - var(--hauteur)*7); }

.sign_plu { background-position-x: calc(0px - var(--hauteur)/2*0); background-position-y: calc(0px - var(--hauteur)*0); }
.sign_min { background-position-x: calc(0px - var(--hauteur)/2*1); background-position-y: calc(0px - var(--hauteur)*0); }
.sign_equ { background-position-x: calc(0px - var(--hauteur)/2*2); background-position-y: calc(0px - var(--hauteur)*0); }
.sign_mul { background-position-x: calc(0px - var(--hauteur)/2*0); background-position-y: calc(0px - var(--hauteur)*1); }
.sign_div { background-position-x: calc(0px - var(--hauteur)/2*1); background-position-y: calc(0px - var(--hauteur)*1); }
.sign_que { background-position-x: calc(0px - var(--hauteur)/2*2); background-position-y: calc(0px - var(--hauteur)*1); }


.number_1 { background-position-x: calc(0px - var(--hauteur)/2*0); background-position-y: calc(0px - var(--hauteur)*0); }
.number_2 { background-position-x: calc(0px - var(--hauteur)/2*1); background-position-y: calc(0px - var(--hauteur)*0); }
.number_3 { background-position-x: calc(0px - var(--hauteur)/2*2); background-position-y: calc(0px - var(--hauteur)*0); }
.number_4 { background-position-x: calc(0px - var(--hauteur)/2*0); background-position-y: calc(0px - var(--hauteur)*1); }
.number_5 { background-position-x: calc(0px - var(--hauteur)/2*1); background-position-y: calc(0px - var(--hauteur)*1); }
.number_6 { background-position-x: calc(0px - var(--hauteur)/2*2); background-position-y: calc(0px - var(--hauteur)*1); }
.number_7 { background-position-x: calc(0px - var(--hauteur)/2*0); background-position-y: calc(0px - var(--hauteur)*2); }
.number_8 { background-position-x: calc(0px - var(--hauteur)/2*1); background-position-y: calc(0px - var(--hauteur)*2); }
.number_9 { background-position-x: calc(0px - var(--hauteur)/2*2); background-position-y: calc(0px - var(--hauteur)*2); }
.number_0 { background-position-x: calc(0px - var(--hauteur)/2*0); background-position-y: calc(0px - var(--hauteur)*3); }

.but_que { background-image: none !important; }

#puzzle > div > .fruits {
    width: var(--hauteur) !important;
    height: var(--hauteur) !important;
    background-image: url('./img/fruits.png');
    background-size: calc( var(--hauteur) * 3 );
    background-color: blue;
}

#puzzle > div > .signs {
    width: calc(var(--hauteur)/2) !important;
    height: var(--hauteur) !important;
    background-image: url('./img/signs.png');
    background-size: calc( var(--hauteur) * 1.5 );
}

#puzzle > div > .numbers {
    width: calc(var(--hauteur)/2) !important;
    height: var(--hauteur) !important;
    background-image: url('./img/numbers.png');
    background-size: calc( var(--hauteur) * 1.5 );
}

button.buttonsAnsw {
    width: var(--hauteur);
    height: var(--hauteur);
    
    background-image: url('./img/fruits.png');
    background-size: calc( var(--hauteur) * 3 );

    display: inline-block;
    border-radius: calc(var(--hauteur)/10);
    border: calc(var(--hauteur)/40) solid grey;
    line-height: var(--hauteur);
    vertical-align: top;
    cursor: pointer;
    padding: 0 !important;

    font-family: "GenJyuu";
    font-size: calc(var(--hauteur)/2);
    color: white;
    text-shadow:     2px  2px black, 2px -2px black, -2px  2px black, -2px -2px black,
                     0px  2px black, 0px -2px black, 2px  0px black, -2px  0px black;
}

button.buttonsAnsw + button.buttonsAnsw {
    margin-left: calc( var(--hauteur) / 10 );
}

button.buttonsAnsw:nth-child(5) {
    width: calc(var(--hauteur) * 2);
}

button.buttonsAnsw > img {
    vertical-align: top;
}

button.finish {
    height: var(--hauteur);
    width: calc(var(--hauteur) * 5 + 45px);
    
    border-radius: calc(var(--hauteur)/10);
    border: calc(var(--hauteur)/40) solid grey;

    font-size: calc(var(--hauteur)/2);
    color: white;
    text-shadow:     2px  2px black, 2px -2px black, -2px  2px black, -2px -2px black,
                     0px  2px black, 0px -2px black, 2px  0px black, -2px  0px black;

    margin-top: calc( var(--hauteur) / 10 );
    vertical-align: top;
}

button.reload {
    width: calc(var(--hauteur));
    height: var(--hauteur);

    border-radius: calc(var(--hauteur)/10);
    border: 2px solid grey;

    font-size: calc(var(--hauteur)/2);
    color: white;
    text-shadow: 2px 2px black, -2px  2px black, -2px -2px black, 2px -2px black,
                 0px 3px black,  0px -3px black, -3px  0px black, 3px  0px black;

    margin-top: calc( var(--hauteur) / 10 );
    vertical-align: top;
}

.correct {
    background-color: lightgreen;
    border-color: darkgreen;
}

.incorrect {
    background-color: lightcoral;
    border-color: darkred;
}


/*
#puzzle > div:nth-child(4) {
    box-shadow: 0 26px 1px -25px var(--borderColor);
}

#puzzle > div:last-child {
    width: calc(1000px - 25px);
    padding: 0 calc(25px / 2);
    box-shadow: 0 -26px 1px -25px var(--borderColor);
}
*/

#answer {
    background: red;
    width: 1000px;
    position: absolute;
    left: calc( (100% - 1000px) / 2 );
    top: 790px;
}

#answer > div {
    background: white;
    width: 700px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#answer > div > .smallDivider {
    display: inline-block;
    margin: 0 10px;
}